body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    margin-top: 0;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/project3/timesquare.JPG);
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px #000000;
}
main {
    background-color: rgb(168, 208, 226);
    padding: 10px;
}

.navigation {
    border-color: rgb(40, 73, 80);
    border: solid;
    border-radius: 25px;
    background-color: rgb(47, 160, 186);
    padding: 10px;
    margin-bottom: 5px;
}

.about {
    border-color: rgb(40, 73, 80);
    border: solid;
    border-radius: 25px;
    background-color: rgb(47, 160, 186);
    padding: 10px;
}

.box {
    padding: 10px;
    border-color: rgb(40, 73, 80);
    border: solid;
    border-radius: 25px;
    margin-bottom: 5px;
}

@media (min-width:500px) {
main {
    display: flex;
    flex-wrap: wrap;
}

.container{
    flex-basis: 65%;
}

.right {
    flex-basis: 33%;
    margin: 5px;
}
}

@media (min-width:1000px) {
.container{
    flex-basis: 75%;
}

.right {
    flex-basis: 23%;
    margin: 5px;
}
}

h3 {
    line-height: 0;
}

ul {
    list-style-type: "➤"
}

li {
    padding-left: 1em;
}

figure{
    float:right;
}

img {
    border-style: solid;
    border-color: black;
}

.masquerade figcaption {
    font-style:italic;
    max-width: 300px;
    text-align: center;
}

.bib figcaption {
    font-style:italic;
    max-width: 200px;
    text-align: center;
}

.about img{
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
    border: none;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 1%;
}