* {
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    font-weight: bold;
    background-color: rgb(249, 222, 250);
    border: 5px solid black;
    padding: 10px;
}

table {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid grey;
}

table th {
    border-right: 1px solid gray;
}

table td {
    border-right: 1px solid gray;
    padding: 4px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(220, 220, 220);
}

img{
    border-color:black;
    border-width:1px;
    border-style: solid;
}

footer {
    background-color: rgb(249, 222, 250);
}