body {
    margin: 0;
    background-color: #DEE1DD;
    font-family: sans-serif;
}

header {
    background-color: #C4CDC1;
    margin: 0;
    padding: 1em;
}

main {
    margin: 1em;
}

.videoviewer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1em;
}

@media (min-width:750px) {
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}
}

@media (min-width: 1200px) {
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
}
}

.video {
    padding: 1em;
    border-style: solid;
    border-color: #C4CDC1;
    text-align: center;
}

footer {
    background-color: #C4CDC1;
}

img {
    max-width: 100%;
}

svg {
    stroke:black;
    fill: black;
}

h1 {
    color: #28363D;
    margin-bottom: 0%;
}

h2 {
    color: #2F575D;
    margin-top: 0%;
}