body {
    margin: 0;
    background-color: #DEE1DD;
    font-family: sans-serif;
}

header {
    background-color: #C4CDC1;
    margin: 0;
    padding: 1em;
}

main {
    margin: 1em;
}


.video {
    padding: 1em;
    border-style: solid;
    border-color: #C4CDC1;
    text-align: center;
}

img {
    max-width: 95%;
}

video {
    max-width: 95%;
}

.description {
    margin: 1em;
}

@media (min-width:750px) {
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}
.video {
    display: flex;
}
.thumbnail {
    flex-basis: 45%;
}
.description {
    flex-basis: 55%;
}

.videoviewer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1em;
}
}

@media (min-width: 1200px) {
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em;
}

.thumbnail {
    flex-basis: 50%
}

.description {
    flex-basis: 50%;
}
}


footer {
    background-color: #C4CDC1;
}

svg {
    stroke:black;
    fill: black;
}

h1 {
    color: #28363D;
    margin-bottom: 0%;
}

h2 {
    color: #2F575D;
    margin-top: 0%;
}